calculator/Connected Services/PrintTriangle/calculate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://pragimtech.com/webservices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://pragimtech.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pragimtech.com/webservices">
      <s:element name="Triangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sideOne" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sideTwo" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sideThree" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TriangleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TriangleSoapIn">
    <wsdl:part name="parameters" element="tns:Triangle" />
  </wsdl:message>
  <wsdl:message name="TriangleSoapOut">
    <wsdl:part name="parameters" element="tns:TriangleResponse" />
  </wsdl:message>
  <wsdl:portType name="calculateSoap">
    <wsdl:operation name="Triangle">
      <wsdl:input message="tns:TriangleSoapIn" />
      <wsdl:output message="tns:TriangleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculateSoap" type="tns:calculateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Triangle">
      <soap:operation soapAction="http://pragimtech.com/webservices/Triangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calculateSoap12" type="tns:calculateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Triangle">
      <soap12:operation soapAction="http://pragimtech.com/webservices/Triangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculate">
    <wsdl:port name="calculateSoap" binding="tns:calculateSoap">
      <soap:address location="https://localhost:44305/calculate.asmx" />
    </wsdl:port>
    <wsdl:port name="calculateSoap12" binding="tns:calculateSoap12">
      <soap12:address location="https://localhost:44305/calculate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>