calculator/Connected Services/PrintCircle/CircleWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://pragimtech.com/webservices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://pragimtech.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pragimtech.com/webservices">
      <s:element name="Circle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CircleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CircleSoapIn">
    <wsdl:part name="parameters" element="tns:Circle" />
  </wsdl:message>
  <wsdl:message name="CircleSoapOut">
    <wsdl:part name="parameters" element="tns:CircleResponse" />
  </wsdl:message>
  <wsdl:portType name="CircleWebServiceSoap">
    <wsdl:operation name="Circle">
      <wsdl:input message="tns:CircleSoapIn" />
      <wsdl:output message="tns:CircleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CircleWebServiceSoap" type="tns:CircleWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap:operation soapAction="http://pragimtech.com/webservices/Circle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CircleWebServiceSoap12" type="tns:CircleWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap12:operation soapAction="http://pragimtech.com/webservices/Circle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CircleWebService">
    <wsdl:port name="CircleWebServiceSoap" binding="tns:CircleWebServiceSoap">
      <soap:address location="https://localhost:44305/CircleWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CircleWebServiceSoap12" binding="tns:CircleWebServiceSoap12">
      <soap12:address location="https://localhost:44305/CircleWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>